UserLoginAPI/User.Contracts/obj 
UserLoginAPI/User.Contracts/bin 
UserLoginAPI/Program.Contracts/bin 
UserLoginAPI/Program.Contracts/obj 
UserLoginAPI/obj 
UserLoginAPI/bin 
UserLoginAPI/bin/Debug 
UserLoginAPI/bin/Debug/net7.0 
UserLoginAPI/Admin.Contracts/obj
UserLoginAPI/Admin.Contracts/bin