Contracts/User.Contracts/obj 
Contracts/User.Contracts/bin 
Contracts/Program.Contracts/bin 
Contracts/Program.Contracts/obj 
UserLoginAPI/obj 
UserLoginAPI/bin 
Contracts/Admin.Contracts/obj
Contracts/Admin.Contracts/bin